.appWindowHeader {
    height: 30px;
    background: #222;
    /* background: #00519c; */
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.info {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    margin-right: 5px;
    pointer-events: none;
}
.icon img {
    height: 16px;
    width: 16px;
}

.title {
    display: flex;
    align-items: center;
    color: white;
    line-height: 1em;
}

.actions {
    display: flex;
    height: 100%;
    position: relative;
    z-index: 5;
}
