.taskBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    width: 100%;
    display: flex;
    z-index: 100;
    background-size: cover;
    background-attachment: fixed;
    transform: translateY(48px);
    transition: ease 0.3s;
    pointer-events: none;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #000000cc;
}
.tasks {
    display: flex;
}

.actions {
    display: flex;
}

.show {
    pointer-events: all;
    transform: translateY(0);
}
