.taskBar {
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 100;
    background-size: cover;
    background-attachment: fixed;
    /* transform: translateY(48px); */
    transition: ease 0.3s;
    /* pointer-events: none; */
    position: relative;
}
.container {
    display: grid;
    grid-template-columns: auto 1fr 164px;
    width: 100%;
    justify-content: space-between;
    background: #000000cc;
}
.controls {
    display: flex;
}
.tasks {
    display: flex;
    width: 100%;
}

.tasksContainer {
    display: flex;
}
.actions {
    display: flex;
    justify-content: flex-end;
}

.show {
    pointer-events: all;
    transform: translateY(0);
}
