.taskBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    width: 100%;
    display: flex;
    z-index: 100;
}
.container {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
}
.tasks {
    display: flex;
}

.actions {
    display: flex;
}
