.notificationToasts {
    position: absolute;
    bottom: 0;
    right: 24px;
    padding: 0;
    z-index: 100;
}
.toastItem {
    margin-bottom: 12px;
    width: 300px;
    animation: fadeIn 0.3s;
    transition: ease 0.3s;
}

.isHidden {
    animation: fadeOut 0.3s;
}

@keyframes fadeIn {
    0% {
        transform: translateX(150%);
        max-height: 0;
    }

    100% {
        transform: translateX(0);
        max-height: 100vh;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(0);
        max-height: 100vh;
    }
    100% {
        transform: translateX(150%);
        max-height: 0;
    }
}
