.notificationConfirm {
    box-sizing: border-box;
    padding: 16px;
    padding-top: 0;
}

.container {
    display: flex;
}

.button {
    padding: 12px 24px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    background: #47474a;
}

.button:hover {
    background: #404040;
}

.additionalButton {
    border-left: 1px solid #2d2d2f;
    padding: 12px;
}
