.taskGroup {
    display: flex;
    color: white;
    scroll-snap-align: start;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.container:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    width: 0;
    background: #b3b3b3;
    content: "";
    transition: ease 0.3s;
}

.container.active:before {
    left: 0;
    width: 100%;
}
