.notificationHeader {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
}

.icon {
    /* HIDDEN */
    display: none;
}

.actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.actions img {
    width: 12px;
}
