.appWindowArea {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
}

.appWindowArea > * {
    pointer-events: all;
}

.disabled {
    display: none;
}
