.notificationCard {
    cursor: pointer;
    border: 1px solid transparent;
    color: #e2e2e2;
    background: #444;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
}
.notificationCard:hover {
    border: 1px solid #c2c2c2;
    background: #555;
}
.container {
    display: block;
}
.header {
    display: block;
    padding: 12px;
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff0d;
}
.title {
    color: white;
}
.content {
    padding: 12px;
}
.actions {
    color: white;
}
