.notificationCard {
    cursor: pointer;
    border: 1px solid transparent;
    color: #e2e2e2;
    background: #444;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
    transform: translateX(0);
    max-height: 500px;
}

.notificationCard:hover {
    border: 1px solid #c2c2c2;
    background: #555;
}
.notificationCard:hover .actions {
    opacity: 1;
}
.container {
    display: block;
    padding: 12px;
}
.header {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
.title {
    color: white;
    margin-bottom: 3px;
}
.content {
    margin-bottom: 6px;
}
.content .text {
    color: #c4c4c4;
}
.actions {
    opacity: 0;
    display: flex;
}
.actionItem {
}
.actionItem img {
    width: 12px;
    height: 12px;
}
.date {
    font-size: 12px;
    color: #c4c4c4;
}
.isRemoving {
    transform: translateX(150%);
    max-height: 0;
    border: none;
    transition: ease 0.3s;
    margin: 0;
}

.contextActions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    grid-gap: 8px;
    align-items: center;
    padding-top: 10px;
}
