.panelInformer {
    display: block;
    border-radius: 4px;
    width: 100%;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 12px;
    box-sizing: border-box;
}

.nonPadding {
    padding: 0;
}
