.virtualFramePreview {
    display: grid;
    grid-template-rows: 48px 1fr;
    position: relative;
    overflow: hidden;
}

.active {
    background: #00519c;
}

.container {
    background: #333;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    grid-row: span / 3;
}

.virtualFramePreview .content svg {
    width: 64px;
    height: 64px;
}

.content {
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    overflow: hidden;
}

.tileChooseIndicator {
    position: relative;
    z-index: 10;
}
