.appsMenu {
    position: absolute;
    bottom: 48px;
    left: 0;
    opacity: 0;
    transform: translateY(calc(25%));
    transition: transform ease 0.3s, opacity 0.3s;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 100;
    max-height: calc(100vh - 48px);
    /* background: url("../../../assets/images/wallpaper_blur.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.show {
    opacity: 1;
    transform: translateY(0);
    padding: 0;
    pointer-events: all;
    animation: show 0.3s;
}
.container {
    display: grid;
    grid-template-columns: 48px 1fr;
    box-sizing: border-box;
    height: 100%;
    background: #222222e9;
    border-top-right-radius: 4px;
}

.content {
    display: block;
    /* padding: 24px 24px 0 24px; */
}

.search {
    padding: 12px;
}

.appsListWrapper {
    border-radius: 4px;
    overflow: hidden;
}

.appsList {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(auto-fit, 100px);
    grid-gap: 12px;
    height: 625px;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 12px 12px 12px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    padding: 12px 6px;
}
.logo {
    cursor: pointer;
}
.notFoundApps {
    grid-column: span 3;
    color: white;
}
@keyframes show {
    0% {
        opacity: 0;
        pointer-events: none;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }
}
