.notificationDate {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #b2b2b3;
    position: relative;
    box-sizing: border-box;
    padding: 12px;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 20px;
}
.date {
    position: absolute;
    top: 0;
    transition: ease 0.3s 0.3s;
}

.notificationDate .localizedDate {
    display: block;
}

.notificationDate:hover .localizedDate {
    transform: translateY(20px);
    opacity: 0;
}

.notificationDate .formatedDate {
    opacity: 0;
    transform: translateY(-20px);
}

.notificationDate:hover .formatedDate {
    opacity: 1;
    transform: translateX(0);
}
