.displayModeChooser {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    z-index: 1;
    overflow: hidden;
    background: #222;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    background: #222;
    transition: ease 0.2s;
    opacity: 0;
    pointer-events: none;
    width: 200px;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    width: 100%;
}

.show {
    opacity: 1;
    pointer-events: all;
    margin-left: 50px;
    transition: margin ease 0.2s;
}

.icon {
    cursor: pointer;
    --svgIconInjectedWidth: 32px;
    --svgIconInjectedHeight: 32px;
    --svgIconInjectedColor: white;
}

.preview {
    position: relative;
    z-index: 10;
    width: 42px;
}

.slider {
    background: #096dd9;
}
