.desktopGridCell {
    display: block;
    border-radius: 4px;
    background: rgba(255, 255, 255);
    width: 100%;
    height: 100%;
    transition: ease 0.3s;
    opacity: 0.2;
}

.desktopGridCell:hover {
    opacity: 0.5;
}

.active {
    background: white;
    /* transform: translate(4px, 4px); */
    transform: scale(0.9);
    opacity: 0.5;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}
