.tileDesktopArea {
    display: block;
    border-radius: 4px;
    /* TODO: TILE */
    z-index: 95;
    grid-gap: 8px;
    position: relative;
}

.debug {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 14px;
}
