.taskBarBadge {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    background: #096dd9;
    font-size: 12px;
    z-index: 1;
    pointer-events: none;
}

.info {
    background: var(--colorPrimary);
}

.attention {
    background: var(--colorStatusReject);
}
