.authScreen {
    height: 100vh;
    /* background: url("/wallpapers/wallpaper.jpg"); */
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.logo {
    margin-bottom: 12px;
    width: 200px;
}
.description {
    margin-bottom: 24px;
    color: white;
}
.logo img {
    width: 100%;
}
.content {
    background: white;
    width: 300px;
    height: 230px;
    box-sizing: border-box;
    border-radius: 4px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
