body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background: #fafafa;
    min-height: 100vh;
    user-select: none;
    background: url("/wallpapers/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.MuiFormLabel-root {
    z-index: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.react-resizable {
    position: absolute;
}

.react-resizable-handle {
    position: absolute;
    width: 7px;
    height: 7px;
}

.react-resizable-handle-sw {
    bottom: -7px;
    left: -7px;
    width: 15px;
    height: 15px;
    cursor: sw-resize;
    display: none;
}
.react-resizable-handle-se {
    bottom: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    cursor: se-resize;
}
.react-resizable-handle-nw {
    display: none;
    top: -7px;
    left: -7px;
    width: 15px;
    height: 15px;
    cursor: nw-resize;
    z-index: 2;
}
.react-resizable-handle-ne {
    display: none;
    top: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    cursor: ne-resize;
    z-index: 2;
}

.react-resizable-handle-w {
    top: 7px;
    left: -3px;
    height: calc(100% - 14px);
    cursor: w-resize;
    z-index: 2;
}

.react-resizable-handle-e {
    top: 7px;
    right: -3px;
    height: calc(100% - 14px);
    cursor: e-resize;
    z-index: 2;
}

.react-resizable-handle-s {
    bottom: -3px;
    left: 7px;
    width: calc(100% - 14px);
    cursor: s-resize;
}
.react-resizable-handle-n {
    top: -3px;
    left: 7px;
    width: calc(100% - 14px);
    cursor: n-resize;
}

div {
    scrollbar-color: rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
}

div::-webkit-scrollbar {
    width: 5px;
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

div::-webkit-scrollbar-track {
    background-color: transparent;
}

.no-animate {
    transition: none !important;
    animation: none !important;
}
