.virtualFrameList {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    scrollbar-width: none;
}

.virtualFrameList::-webkit-scrollbar {
    display: none;
}

.container {
    display: grid;
    grid-template-rows: 200px;
    grid-gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}
