.dropdownMenuItem {
    display: inline-flex;
    padding: 8px 12px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 300;
    background: black;
}
.dropdownMenuItem:hover {
    background: rgba(255, 255, 255, 0.2);
}
