.notificationHub {
    display: none;
    width: 400px;
    position: absolute;
    bottom: 48px;
    right: 0px;
    color: white;
    z-index: 100;
    background: url("../../../assets/images/wallpaper_blur.jpg");
    background-attachment: fixed;
    background-position: right;
    overflow: hidden;
    max-height: calc(100vh - 60px);
    border-top-left-radius: 4px;
}
.show {
    display: block;
}
.container {
    background: #222222cc;
    height: 100%;
}

.content {
    padding: 24px 0 0 24px;
}
.title {
    font-size: 24px;
    margin-bottom: 20px;
}
.notificationsList {
    max-height: 625px;
    min-height: 300px;
    align-items: flex-start;
    overflow: auto;
    padding-right: 24px;
    padding-bottom: 24px;
}
.notificationItem {
    padding: 24px;
    background: #444;
    box-sizing: border-box;
    border-radius: 4px;
}
